@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div{
    display: block;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 60px;
}

header nav ul {
    list-style: none;
    display: flex;
}

li{
    padding: 19px 17px 19px 17px;
    color: #777;
}

ul .cd{
    color: #1E7AE3;
    margin-right: 30px;
}

ul .cd img{
    color: #1E7AE3;
    margin-right: 5px;
    vertical-align: middle;
}

body{
    font-family: 'Work Sans', sans-serif;
}

h2 {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: white;
    font-size: 60px;
    margin-bottom: 25px;
    margin-top: 20px;
    text-align: center;
}

a {
    text-decoration: none;
}

/* .content .buttons .play{
    margin-right: 5px;
    font-size: 16px;
} */

.assist{
    background-color: rgb(0, 48, 135);
    width: fit-content;
    z-index: 1;
    border-width: 1px; 
    position: fixed;
    right: 0;
    top: 30%;
    border-radius: 12px 0px 0px 12px;
    border-color: white;
}

.assist svg{
    margin-top: 5px;
    margin-bottom: 5px;
}

.assist svg g path {
    fill: white;
}

.social-media{
    position: fixed;
    top: 40%;
    left: 0;
    background-color: white;
    z-index: 1;
    border-radius: 0px 2px 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

.social-media ul li {
    display: block;
    padding: 12px 12px 8px 16px;
    border-bottom: 1px solid #d4d4d4 ;
}

.social-media li svg{
    fill: rgb(51, 122, 183);
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url("https://s3-sa-east-1.amazonaws.com/prod-jobsite-files.kenoby.com/uploads/venturus-1562081429-imagem-galaxy-escurajpg.jpg");
    min-height: 600px;
}

.darker {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.content{
    width: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 999999;
}

.buttons-mobile {
    display: none;
}

header .mobile {
    display: none;
}

header .img-logo-mb{
    display: none;
}

header .mobile ul{
    display: none;
}

.mobile .hamb .hamburguer{
    display: none;
}

.img-logo img{
    width: 150px;
    padding: 10px;
    margin-left: 15px;

}

.btn-menu:hover{
    color: #1E7AE3;
    background-color: lightgray;
    transition-duration: 1s;
}

.btn{
    border-radius: 100px;  /*arredonda as bordas */
    padding: 15px 25px 15px 25px;
    border-width: 2px;
    font-size: 16px;
    display:inline-block;
    font-weight: 400px;
    text-align: center;
    border: 1px solid transparent;
    margin: 30px 15px 30px 15px;
    align-items: center;
    justify-content: center;

}

.buttons {
    display: flex;
    align-items: center;
}

.yt {
    display: flex;
}

.text {
    flex-direction: column;
    margin-top: 6px;
    text-align: center;
}

.btn-video{
    background-color: transparent;
    color: white;
    border-color: white;
    border-width: 2px;
    padding: 10px 25px 10px 25px;
      
}

.btn-about{
    background-color: white;
    color: rgb(237, 27, 102);
    border-color: white;
    border-width: 2px; 
}

.btn-vacancy{
    background-color: rgb(237, 27, 102);
    color: white;
    border-color: rgb(237, 27, 102);
    border-width: 2px;
}

.btn-video:hover{
    background-color: white;
    color: rgb(74, 74, 74);
    transition-duration: 0.3s;
    border-width: 2px;
}

.btn2:hover{
    background-color: transparent;
    transition-duration: 0.3s;
    border-width: 2px;
}

header nav .ham-box{
    display: none;
}

header nav .txt{
    display: none;
}

@media (max-width: 768px) {

    .container{
        min-height: 350px;
        flex-direction: column;
    }
    h2 {
        font-size: 18px;
    }

    .container .titulo{
        margin-right: 38px;
    }

    .buttons {
        display: flex;
    }

    .buttons-mobile {
        display: block;
        margin-bottom: 20px;
    }

    .hide-mobile {
        display: none !important;
    }
    
    .btn2{
        font-size: 14px;
        padding: 10px 15px 10px 15px;
        margin: 10px 20px;
    }
    .btn1{
        font-size: 14px;
        padding: 10px 15px 10px 15px;
    }

    header nav ul{
        display: none;
    }

    .social-media{
        display: none;
    }

    section .assist{
        margin-right: 0;
        top:70%
    }

    .img-logo{
        width: auto;
        height: auto;
    }

    header nav .txt{
        display: flex;
        align-items: center;
    }

    header nav a{
        color: #337ab7;
        font-family: 'Work Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        margin-right: 10px;
    }

    header nav .ham-box{
        display: flex;
        align-items: center;
    }

    header .ham-box .ham{
        margin-left: 10px;
    }





    
}
